
<h3> <%=h l(:label_hide_info_categories) %> </h3>
<table>
<% InfoCategory.categories.each {|catsym| %>
  <% name = "hide_#{catsym}" %>
  <tr><td>
  <%= check_box_tag("settings[#{name}]", 1, @settings[name]) %>
  <%=l InfoCategory.caption(catsym) %>
  </td></tr>
<% } %>
</table>
<br />
